@import url("./assets/font/font.css");

/* 全局字体配置 */
* {
    font-family: "SY-normal", Helvetica, "Microsoft YaHei", Arial, sans-serif;
}

/* 全局样式表 */
html,
body,
#app {
    margin:0;
    padding:0;
    box-sizing: border-box;
    height: 100%;
}
/*卡片样式*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    font-family: arial;
    /* border-radius: 10%; */
}